<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.git.wake-script</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/nathanielewing/Desktop/Code/My-Current-Projects/automate-with-python/run-python-script.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>WatchPaths</key>
    <array>
        <string>/private/var/db/PowerManagement/</string>
    </array>
</dict>
</plist>
